@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-linear-gradient(top left, #165baa 0%, #53e3a6 100%);
}

/*HOME*/
.home {
  height: 100vh;
}

.navitem {
  border-radius: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.navitem:hover {
  background-color: #53e3a752;
  -webkit-transition: 1s;
  transition: 1s;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.portrait {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 80%;
  margin-left: 10% !important;
  margin-right: 10% !important;
  color: white !important;
}

/*PROJECTS*/
#projects {
  height: 100vh;
}

.proj {
  margin-bottom: 3%;
}

.caritem {
  font-family: 'Open Sans', sans-serif;
}

.caption {
  background-color: rgba(22, 91, 170, 0.5);
  border-radius: 5%;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.caption:hover {
  background-color: rgba(83, 227, 166, 0.5);
}

/*ABOUT*/
#about {
  height: 100vh;
}

.pc {
  background-color: rgba(255, 255, 255, 0.253);
}

.about {
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*CONTACT*/
.contact {
  background-color: rgba(255, 255, 255, 0.253);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.1em;
}

.input {
  font-size: 1em !important;
}

.submit {
  margin-top: 5%;
  margin-left: 35%;
  width: 30%;
  font-size: 1em !important;
  background-color: #165baa !important;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.submit:hover {
  background-color: #6590c2 !important;
}

/*FOOTER*/
.footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
}

.icon {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.icon:hover {
  -webkit-transform: scale(3);
          transform: scale(3);
}

/*ANIMATIONS*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.orb, .orb2, .orb3, .orb4, .orb5, .orb6, .orb7, .orb8, .orb9, .orb10 {
  background: radial-gradient(circle at 8vw 8vw, #53e3a6, #000);
  width: 10vw;
  border-radius: 50%;
  height: 10vw;
  -webkit-animation-name: orb;
          animation-name: orb;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  margin-top: -10vw;
  -webkit-animation-delay: 26035ms;
          animation-delay: 26035ms;
  z-index: -1;
  opacity: 0;
}

.orb2 {
  -webkit-animation-delay: 10069ms;
          animation-delay: 10069ms;
}

.orb3 {
  -webkit-animation-delay: 1396ms;
          animation-delay: 1396ms;
}

.orb4 {
  -webkit-animation-delay: 26650ms;
          animation-delay: 26650ms;
}

.orb5 {
  -webkit-animation-delay: 4820ms;
          animation-delay: 4820ms;
}

.orb6 {
  -webkit-animation-delay: 13860ms;
          animation-delay: 13860ms;
}

.orb7 {
  -webkit-animation-delay: 8456ms;
          animation-delay: 8456ms;
}

.orb8 {
  -webkit-animation-delay: 29522ms;
          animation-delay: 29522ms;
}

.orb9 {
  -webkit-animation-delay: 2620ms;
          animation-delay: 2620ms;
}

.orb10 {
  -webkit-animation-delay: 18388ms;
          animation-delay: 18388ms;
}

@-webkit-keyframes orb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(-800vh);
            transform: translateY(-800vh);
  }
}

@keyframes orb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(-800vh);
            transform: translateY(-800vh);
  }
}

/*RESPONSIVE STYLES*/
/*RESPONSIVE STYLES*/
/*320px — 480px: Mobile devices*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*MULTIPLE SECTIONS*/
  h1 {
    font-size: 2em !important;
  }
  /*HOME*/
  .navitem:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .home {
    height: 45vh;
  }
  .portrait {
    width: 100px;
  }
  /*PROJECTS*/
  .caritem {
    font-size: 1em !important;
  }
  #projects {
    height: auto;
  }
  /*ABOUT*/
  #about {
    height: auto;
  }
  .about {
    font-size: 1em;
  }
  /*CONTACT*/
  .contact {
    font-size: 1em;
  }
  .conthead {
    margin-top: 5% !important;
  }
  /*FOOTER*/
  .footer {
    font-size: 1em;
  }
}

/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*MULTIPLE SECTIONS*/
  h1 {
    font-size: 2em !important;
  }
  /*HOME*/
  .navitem:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .portrait {
    width: 150px;
  }
  .home {
    height: auto;
  }
  /*PROJECTS*/
  .caritem {
    font-size: 1em !important;
  }
  #projects {
    height: auto;
  }
  /*ABOUT*/
  .about {
    font-size: 1em;
  }
  /*CONTACT*/
  .contact {
    font-size: .9em;
  }
  .conthead {
    margin-top: 0 !important;
  }
  /*FOOTER*/
  .footer {
    font-size: .75em;
  }
}

/*769px — 1024px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /*MULTIPLE SECTIONS*/
  h1 {
    font-size: 2.5em !important;
  }
  /*HOME*/
  .home {
    height: auto;
  }
  .navitem:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .portrait {
    width: 200px;
  }
  /*PROJECTS*/
  .caritem {
    font-size: 1em !important;
  }
  #projects {
    height: auto;
  }
  /*ABOUT*/
  .about {
    font-size: 1em;
  }
  #about {
    height: auto;
  }
  /*CONTACT*/
  .contact {
    font-size: .9em;
  }
  .conthead {
    margin-top: 0 !important;
  }
  /*FOOTER*/
  .footer {
    font-size: .75em;
  }
}

/*1025px — 1205px: Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1205px) {
  /*MULTIPLE SECTIONS*/
  h1 {
    font-size: 2.5em !important;
  }
  /*HOME*/
  .portrait {
    width: 300px;
  }
  /*PROJECTS*/
  .caritem {
    font-size: 1em !important;
  }
  /*ABOUT*/
  .about {
    font-size: 1.25em;
  }
  /*CONTACT*/
  .contact {
    font-size: .9em;
  }
  .conthead {
    margin-top: 0 !important;
  }
  /*FOOTER*/
  .footer {
    font-size: .75em;
  }
}
/*# sourceMappingURL=App.css.map */